@import url(normalize.css);
.flex-container {
	display: flex;
	flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    background-color: black;
    

}
.flex-container > .logo {
    position: absolute;
    text-align: center;
	top: 5%;
	width: 200px;
}

.flex-container > #portada2{
	height: 350px;
}
.flex-container >  #portada2 img{
	width: 100%;
	height: 350px;
	opacity: 0.5;
}
.flex-agrupar {
  position: absolute;
  top: 18%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  
}
.flex-agrupar > .centrado {

  width: 700px;
  color: white;
  text-align: left;
   
}
.flex-agrupar > .recurso1 {
  
  width: 300px;
  
}
/*body*/
.flex-content {
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  height: 100px;
  background-color: cyan;
}
.flex-content > p{
  
 
  margin-right: 3%;
  
}
.flex-content > img{
    
    height: 80px;
    
  
}











.boton{
  
  width: 100px;
  padding: 1%;
  border-radius: 15%;
  border: none;
  background-color: cyan;
  
}
.boton:hover{
  
  padding: 1%;
  background-color: white;
  transition: all;
  transition-duration: 1s;
  
}


@media (min-width: 600px) {

	.flex-container > #portada2{
	
		height: 350px;
		width: 100%;
		opacity: .5;
	}
    .flex-agrupar > .centrado {

	  width: 700px;
	  color: white;
	  text-align: left;
	   
	}
	.flex-agrupar > .recurso1 {
	  
	  width: 300px;
	  
	}
	

}

@media (max-width: 599px) {

	.flex-container > #portada2{
	
		height: 250px;
		width: 100%;
		opacity: .5;
	}
	.flex-container > #portada2 img{
		width: 100%;
		height: 250px;
		
	}
	.flex-agrupar > .centrado {

	  width: 200px;
	  color: white;
	  text-align: left;
	   
	}
	.flex-agrupar > .recurso1 {
	  
	  width: 200px;
	  
	}
    .flex-agrupar > .recurso1 img{
	  
	  width: 200px;
	  
	}
	  
}